<h1>Edit Member Details</h1>

<form action="/member/<%= @member.id %>" method="post">
  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="first-name" value="<%= @member.first_name %>">
  <br>
  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" id="last-name" value="<%= @member.last_name %>">
  <br>
  <label for="age">Age:</label>
  <input type="text" name="age" id="age" value="<%= @member.age %>">
  <br>
  <label for="membership_type">Membership Type:</label>
    <select name="membership_type" id="membership_type" value="<%= @member.membership_type %>">
      <option value="Premium">Premium</option>
      <option value="Off-Peak">Off-Peak</option>
    </select>
  <br>

<input type="submit" value="Amend Member">

</form>
