
<h1 style="text-align: center;">Membership Details</h1>

  <div class="member_index_page">

<table class="member_table">

<tr>
  <th>Membership Number</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Membership Type</th>
</tr>

<% @members.each do |member| %>
<tr>
    <td><%= member.id %></td>
    <td><a href="/members/<%= member.id %>"><%= member.first_name() %></a></td>
    <td><%= member.last_name %></td>
    <% if (member.membership_type == 'Premium') %>
      <td class="premium"> <%= member.membership_type %></td>
      <% else %>
      <td><%= member.membership_type %></td>
      <% end %>
</tr>
<% end %>
</table>

<p><a href="/members/new">Create a New Member</a></p>
<a href="/">Home</a>

</div>
