<h1>Member Details</h1>

<p>Name: <%= @member.first_name %> <%= @member.last_name %></p>
<p>Age: <%= @member.age %></p>
<p>Membership Type: <%= @member.membership_type %></p>

<p><u>Classes Member is Booked into:</u></p>
<% mem_bookings = @member.list_all_classes_member_booked_into()%>
<% mem_bookings.each do |booking| %>
  <p><%= booking.get_class_details[0].name %></p>

<% end  %>

<form action="/members/<%= @member.id %>/delete" method="post">
  <input type="submit" value="Delete Member">
</form>
<p><a href="/members/<%= @member.id %>/edit">Edit</a></p>


<p><a href="/bookings/<%= @member.id %>/newm">Create a booking</a></p>
<p><a href="/members">Back To Member List</a></p>
<p><a href="/">Home</a></p>
