<h1>New Booking</h1>



<form action="/bookings" method="post">
  <label for="member_select">Select a Member:
    <select name="member_id" id="member_select">
      <% for member in @members %>
        <option value="<%= member.id %>"><%= member.first_name %></option>
      <% end %>
    </select>
  </label>
  <label for="class_select">Select a Class:
    <select name="class_id" id="class_select">
      <% for classe in @classes %>
        <% if (classe.check_spaces() == 0) %>
          <option value="<%= classe.id %>" disabled><%= classe.name %> Class Full</option>
        <% else %>
        <option value="<%= classe.id %>"><%= classe.name %></option>
        <% end  %>
      <% end %>
    </select>

  </label>


  <input type="submit" value="Create Booking">

</form>




<a href="/">Home</a>
