<h1>Add Member to Class</h1>

<form action="/bookings" method="post">
  <label for="member-select">Select Member:</label>
    <select name="member_id" id="member-select">
      <% @members.each do |member| %>
        <% if (@classe.off_peak_class == false && member.premium_member == false) %>
          <option value="<%= member.id %>" disabled> <%= member.first_name %> No Access</option>
        <% else %>
          <option value="<%= member.id %>"><%= member.first_name %></option>
          <% end %>
      <% end %>
    </select>
    <label for="class-select">Class:</label>
      <select name="class_id" id="class-select">
        <% if (@classe.check_spaces == 0) %>
          <option value="<%= @classe.id %>"disabled><%= @classe.name %></option>
        <% else %>
        <option value="<%= @classe.id %>"><%= @classe.name %></option>
        <% end %>
      </select>

    <input type="submit" value="Book into Class">
</form>


<p><a href="/classes">Class List</a></p>
<p><a href="/">Home</a></p>
