<h1>Add Member to Class</h1>

<form action="/bookings" method="post">
  <label for="member-select">Select Member:</label>
    <select name="member_id" id="member-select">
        <option value="<%= @member.id %>"><%= @member.first_name %></option>
    </select>
    <label for="class-select">Class:</label>
      <select name="class_id" id="class-select">
        <% @classes.each do |classe| %>
          <% if (classe.check_spaces == 0) %>
            <option value="<%= classe.id %>" disabled><%= classe.name %> <%= classe.time %> <%= Classe.day_of_week(classe.date) %> Class Full</option>
            <% elsif (classe.off_peak_class == false && @member.premium_member == false)%>
            <option value="<%= classe.id %>" disabled><%= classe.name %> <%= classe.time %> <%= Classe.day_of_week(classe.date) %> Premium Only</option>
          <% else %>
            <option value="<%= classe.id %>"><%= classe.name %> <%= classe.time %> <%= Classe.day_of_week(classe.date) %></option>
          <% end %>
        <% end %>
      </select>

    <input type="submit" value="Book into Class">
</form>


<p><a href="/classes">Class List</a></p>
<p><a href="/">Home</a></p>
