
<table>
  <thead>
    <th></th>
    <th>Name</th>
    <th>Type</th>
    <th>Capacity</th>
    <th>Spaces Left</th>
    <th>Time</th>
    <th>Date</th>
    <th>Day of Week</th>
  </thead>

<% @classes.each do |item| %>
  <tbody>
    <td><a href="/classes/<%= item.id %>">Select</a></td>
    <td><%= item.name() %></td>
    <td><%= item.type() %></td>
    <td><%= item.capacity() %></td>
    <td><%= item.check_spaces() %></td>
    <td><%= item.time() %></td>
    <td><%= item.date() %></td>
    <td><%= Classe.day_of_week(item.date()) %></td>
  </tbody>

<% end %>

</table>

<p><a href="/classes/timetable">Timetable</a></p>
<p><a href="/classes/new">Create New Class</a></p>
<p><a href="/classes/list"">Upcoming Classes</a></p>
<p><a class="home" href="/">Home</a></p>
