<h1>Class Timetable</h1>

  <% up_to_date_classes = @classes %>

<div class="week">

  <div class="monday" style="padding: 20px">
    <h3>Monday</h3>
    <% up_to_date_classes.each do |classe| %>
    <% if (Classe.day_of_week(classe.date())) == "Monday" %>
      <tbody>
        <tr>
        <td><a href="/classes/<%= classe.id %>"><%= classe.name() %></a></td>

        <td><%= classe.time() %></td>
        </tr>
        <br>
      </tbody>
      <% end %>
    <% end %>
  </div>
  <div class="tuesday" style="padding: 20px">
    <h3>Tuesday</h3>
    <% up_to_date_classes.each do |classe| %>
    <% if (Classe.day_of_week(classe.date())) == "Tuesday" %>
      <tbody>
        <tr>
          <td><a href="/classes/<%= classe.id %>"><%= classe.name() %></a></td>

        <td><%= classe.time() %></td>
        </tr>
        <br>
      </tbody>
      <% end %>
    <% end %>
  </div>
  <div class="wednesday" style="padding: 20px">
    <h3>Wednesday</h3>
    <% up_to_date_classes.each do |classe| %>
    <% if (Classe.day_of_week(classe.date())) == "Wednesday" %>
      <tbody>
        <tr>
          <td><a href="/classes/<%= classe.id %>"><%= classe.name() %></a></td>

        <td><%= classe.time() %></td>
        </tr>
        <br>
      </tbody>
      <% end %>
    <% end %>
  </div>
  <div class="thursday" style="padding: 20px">
    <h3>Thursday</h3>
    <% up_to_date_classes.each do |classe| %>
    <% if (Classe.day_of_week(classe.date())) == "Thursday" %>
      <tbody>
        <tr>
          <td><a href="/classes/<%= classe.id %>"><%= classe.name() %></a></td>

        <td><%= classe.time() %></td>
        </tr>
        <br>
      </tbody>
      <% end %>
    <% end %>
  </div>
  <div class="friday" style="padding: 20px">
    <h3>Friday</h3>
    <% up_to_date_classes.each do |classe| %>
    <% if (Classe.day_of_week(classe.date())) == "Friday" %>
      <tbody>
        <tr>
          <td><a href="/classes/<%= classe.id %>"><%= classe.name() %></a></td>

        <td><%= classe.time() %></td>
        </tr>
        <br>
      </tbody>
      <% end %>
    <% end %>
  </div>
  <div class="saturday" style="padding: 20px">
    <h3>Saturday</h3>
    <% up_to_date_classes.each do |classe| %>
    <% if (Classe.day_of_week(classe.date())) == "Saturday" %>
      <tbody>
        <tr>
          <td><a href="/classes/<%= classe.id %>"><%= classe.name() %></a></td>

        <td><%= classe.time() %></td>
        </tr>
        <br>
      </tbody>
      <% end %>
    <% end %>
  </div>
  <div class="sunday" style="padding: 20px">
    <h3>Sunday</h3>
    <% up_to_date_classes.each do |classe| %>
    <% if (Classe.day_of_week(classe.date())) == "Sunday" %>
      <tbody>
        <tr>
          <td><a href="/classes/<%= classe.id %>"><%= classe.name() %></a></td>

        <td><%= classe.time() %></td>
        </tr>
        <br>
      </tbody>
      <% end %>
    <% end %>
  </div>
  <div class="empty">

  </div>
</div>

<p><a href="/">Home</a></p>

<p><a href="/classes/new">Create a New Class</a></p>
