<h1>Upcoming Classes</h1>


<table>
  <thead>
    <th></th>
    <th>Name</th>
    <th>Type</th>
    <th>Capacity</th>
    <th>Spaces Left</th>
    <th>Time</th>
    <th>Date</th>
  </thead>

<% @classes.each do |item| %>
  <tbody>
    <td><a href="/classes/<%= item.id %>">Select</a></td>
    <td><%= item.name() %></td>
    <td><%= item.type() %></td>
    <td><%= item.capacity() %></td>
    <td><%= item.check_spaces() %></td>
    <td><%= item.time() %></td>
    <td><%= item.date() %></td>
  </tbody>

<% end %>

</table>

<p><a href="/">Home</a></p>
<p><a href="/classes">Class List</a></p>
